.formulario-perfil {
 
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url('/Home-general.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 98vh;
    font-family: 'Arial', sans-serif;
   
}

form {
    background: #9c212100;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgb(255, 255, 255);
    width: 100%;
    max-width: 1250px;
    padding: 4rem;
 
}

h2 {
    text-align: center;
    font-size: 2rem;
    color: #ffffff;
    margin-bottom: 5rem;
}

label {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
}

input, textarea {
    width: 100%;
    padding: 13px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 1rem;
    transition: all 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #5c6bc0;
    background-color: #eef0fb;
    outline: none;
}

textarea {
    resize: vertical;
}

button {
    background-color: #5c6bc0;
    color: white;
    padding: 12px 20px;
    border-radius: 6px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #3f51b5;
}

button:focus {
    outline: none;
}

button:disabled {
    background-color: #b0bec5;
    cursor: not-allowed;
}

.mb-4 {
    margin-bottom: 1rem;
}

/* Nuevo diseño del formulario */
.form-group {
    display: grid;
    grid-template-columns: 2fr 2fr;

}

.form-group .field {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.form-group label {
    margin-bottom: 1rem;
}

/* Campos de redes sociales distribuidos horizontalmente */
.social-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

@media (min-width: 1024px) {
    .form-group {
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/* Botón de home */
.nav-tophome {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }

  .home-buttonhome {
    background-color: transparent;
    border: 2px solid #007bff;
    color: #007bff;
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 0.5rem;
  }
  
  .skill-chip {
    background-color: #4a90e2;
    color: white;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
  }
  
  .remove-skill {
    background: transparent;
    border: none;
    color: white;
    margin-left: 8px;
    font-size: 1rem;
    cursor: pointer;
  }
  