/* styles/Home.module.css */
.home-page-container {
  padding-top: 5px;
  font-family: 'Arial', sans-serif;
  position: relative;
  background-image: url('/Home-general.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.home-container h1 {
  font-size: 36px;
  color: #333;
}

.home-container p {
  font-size: 18px;
  color: #666;
  max-width: 600px;
  margin: 20px auto;
}
