/* Estilos generales */
/* Estilos generales */
body {
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  background-image: url('/Home-general.jpg'); /* Imagen de fondo */
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center center; /* Centra la imagen */
  font-family: Arial, Helvetica, sans-serif;
}


/* Contenedor principal */
.home-containers {
  text-align: center;
  padding: 50px 20px;
}

/* Botón Home alineado a la derecha */
.home-button-container {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.btnplan {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s, transform 0.2s;
}

.btnplan:hover {
  background-color: #0012b3;
  transform: scale(1.05);
}

/* Título */
.title {
  font-size: 2rem;
  color: #fffefe;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

/* Contenedor de los planes */
.plans {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

/* Tarjetas de los planes */
.card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  width: 280px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 320px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  border: 2px solid transparent;
}

.card:hover {
  transform: scale(1.05);
  border-color: #00b377;
  box-shadow: 0px 4px 15px rgba(0, 123, 255, 0.3);
}

/* Nombre del plan */
.card h2 {
  margin-bottom: 10px;
  color: #222;
  text-align: center;
  font-size: 1.4rem;
}

/* Precio */
.price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 10px;
  text-align: center;
}

/* Lista de características */
.card ul {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.card ul li {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: #555;
}

/* Icono de check */
.check-icon {
  color: green;
  margin-right: 8px;
  font-size: 1.2rem;
}
