/* Estilos generales */
.containers {
    min-height: 100vh;
    background-color: #f3f4f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-image: url('/fondo profesionales.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Título */
  .title {
    font-size: 2rem;
    font-weight: bold;
    color: #1f2937;
    margin-bottom: 1.5rem;
  }
  
  /* Estilos de los filtros */
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .input {
    border: 1px solid #d1d5db;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }
  
  .input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0px 0px 8px rgba(37, 99, 235, 0.5);
  }
  
  /* Grid de usuarios */
  .user-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    width: 100%;
    max-width: 1200px;
  }
  
  /* Mensaje de "No se encontraron usuarios" */
  .no-users {
    color: #6b7280;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
  /* Botón */
.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  margin-top: 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
  align-self: center; /* Centra el botón horizontalmente */
}

.btn:hover {
  background-color: #00b377;
}